

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: var(--font-inter);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
  }